
* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-duration: .6s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1  {
  font-family: 'Oswald', sans-serif;
  color:#c78e2d; 
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
}

header {
  color: #000;
  border-bottom: 1px solid #000;
  position: relative;
/*  background-color: #ccc;*/
}

.main-header ul li {
  display: inline-block;
  padding-left: 5px;
}

.main-header ul li a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 50px 60px;
}

div .container {
  margin: 0;
}

div.row {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 61px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.btn svg {
  position: absolute;
  top: 0; 
  left: 0;
}

.btn svg rect {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  
  @include transition(all 1300ms $ease-out-expo);
}
.btn:hover svg rect {
  stroke-width: 2;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.btn:hover {
  color:#000;
  font-size:15px;
  letter-spacing:1px;
  font-weight:bold;
}

.hamburger {
  width: 35px;
  display: none;
  cursor: pointer;
}

.hamburger div {
  height: 3px;
  background-color: #000;
  margin: 8px 0;
  border: 2px solid #000;
  border-radius: 15px;
}

/************** INDEX PAGE ***************/

.title {
  font-size: 120px;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-kerning: 10;
}

.hero {
  background-image: url(../images/background-1.jpg);
  padding: 125px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.hero-carousel {
  padding: 50px 0px;
}

.hero-carousel img {
  width: 100%;
}

.hero-slider p {
  font-size: 50px;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
}

.quote {
  text-align: center;
  background-color: orange;
  font-style: italic;
  color: #fff;
  padding: 0;
}

.quote-line {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.author {
  font-size: 20px;
  margin-top: 5px;
}

.quote .container {
  padding: 125px 0;
}

.main-body .tag {
  font-size: 30px;
  width: 40%;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.main-body .container {
  padding: 60px 0;
}

.img-gallery {
  width: 60%;
}

.img-gallery .hover-1 {
  background-image: url(../images/creative.jpg);
}

.img-gallery .hover-2 {
  background-image: url(../images/explore.jpg);
}

.img-gallery .hover-3 {
  background-image: url(../images/explore-2.jpg);
}

.img-gallery .hover-4 {
  background-image: url(../images/design.jpg);
}

.img-gallery .img {
  background-size: contain;
  position: relative;
  height: 300px;
  width: 300px;
}

.img-gallery .text {
  color: #fff;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.img-gallery .img:hover {
  opacity: 0.8;
  background: #000;
}

.img-gallery .img:hover .text{
  opacity: 1;
}

.block-1, .block-2, .block-3 {
  height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/************** ABOUT PAGE ***************/

.block-1 {
  background-image: url(../images/block-1.jpg);
  background-position: top;
}

.block-2 {
  background-image: url(../images/block-2.jpg);
  background-position: center;
}

.block-3 {
  background-image: url(../images/block-3.jpg);
  background-position: bottom;
}

.about-description {
  text-align: center;
  padding: 0;
  text-align: center;
  color: #fff;
}

.about-header {
  font-size: 20px;
  background-color: #fff;
  color: #000;
  padding: 150px 0px;
  width: 35%;
  font-weight: 700;
}

.about-header h3 {
  font-size: 50px;
  font-weight: 300;
  top: 50%;
}

.textbox {
  font-size: 20px;
  color: #fff;
  background-color: orange;
  padding: 150px 80px;
  font-style: italic;
  width: 65%;
}

.about-icon {
  padding: 100px 0;
  text-align: center;
}

.about-icon i {
  color: orange;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 10px;
}

.about-icon h3 {
  margin-bottom: 30px;
}

.about-icon p {
  padding: 0 15px;
  font-size: 12px;
}

/************** CONTACT PAGE ***************/

.contact-content {
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  vertical-align: center;
}

.contact-btn {
  color: #000;
  font-size: 28px;
  top: 50%;
  float: right;
  position: absolute;
}

.contact-btn:hover {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
  transition-duration: 0.2s;
}

.contact-btn-2 {
  display: none !important;
  color: #000;
  font-size: 28px;
  padding: 20px 0px;
}

.contact-btn-2:hover {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}

#test-form {
  animation: open 1s;
  margin: 0 auto;
  background-color: #fff;
  max-width: 500px;
  padding: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea, select {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

input[type=submit],
input[type=reset] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.mfp-removing{
  animation: close 1s;
}

.h1-contact {
  font-size: 38px;
  margin-bottom: 20px;
  color: #000;
}

@keyframes open {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes close {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}



/************** FOOTER PAGE ***************/


.footer {
  border-top: 1px solid #000;
  color: #000;
}

.footer ul li {
  display: inline-block;
  padding-left: 10px;
}

.footer ul li a {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ccc;
}

.footer ul li:hover a {
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #000;
  padding-left: 20px;
}

.footer .container {
  padding: 25px 0;
}

/************** MEDIA QUERIES *********************/


@media (max-width: 1203px) { 

  .quote {
    text-align: center;
    background-color: orange;
    font-style: italic;
    color: #fff;
  }

  .quote-line {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
  }

  .author {
    font-size: 20px;
    margin-top: 5px;
  }

  .quote .container {
    padding: 125px 50px;
  }

  .main-body {
    display: block;
  }

  .main-body .tag {
    font-size: 30px;
    width: 60%;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    padding: 50px 0;
    text-align: center;
  }

  .main-body .container {
    padding: 60px 0;
  }

  .img-gallery {
    width: 40%;
  }

  .img-gallery .img {
    background-size: cover;
    height: 200px;
    width: 100%;
  }

  .img-gallery .hover-1 {
    background-image: url(../images/creative.jpg);
    background-position: 0 40%;
  }

  .img-gallery .hover-2 {
    background-image: url(../images/explore.jpg);
    background-position: 0 40%;
  }

  .img-gallery .hover-3 {
    background-image: url(../images/explore-2.jpg);
    background-position: 0 30%;
  }

  .img-gallery .hover-4 {
    background-image: url(../images/design.jpg);
    background-position: 0 75%;
  }

  .img-gallery .text {
    color: #fff;
    font-size: 30px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .block-1, .block-2, .block-3 {
    height: 250px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-1 {
    background-position: top;
  }

  .block-2 {
    background-position: center;
  }

  .block-3 {
    background-position: bottom;
  }

}

@media (max-width: 992px) { 

  .main-header h2 {
    width: 70%;
  }

  .main-header nav {
    width: 30%;
  }

}

@media (max-width:768px) {

  .main-header nav {
    display: block;
  }

  .block-1 {
    background-image: url(../images/block-4.jpg);
  }

  .block-2 {
    background-image: url(../images/block-5.jpg);
  }

  .block-3 {
    background-image: url(../images/block-6.jpg);
  }

  .block-1, .block-2, .block-3 {
    height: 200px;
    background-attachment: scroll;
  }

  .about-header {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
  }

}

@media (max-width: 575px) {

  .main-header h2 {
    margin-bottom: 0;
    font-size: 28px;
  }

  .main-header nav {
    background-color: #000;
    position: absolute;
    top: 144px;
    left: 0;
    height: 0;
    overflow: hidden;
    padding: 0px 15px;
    width:calc(100% + 15px);
    transition: height 0.4s;
    z-index: 9999;
  }

  .main-header nav.open {
      height: 400px;
  }

  .main-header ul li {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 8px 50px;
  }

  .main-header .btn {
    color: #fff;
  }

  .main-header .btn rect {
    stroke: #fff;
    fill: none;
  }

  .hamburger {
    display: block;
  }

  .main-header nav {
    width: 100%;
  }

  .btn {
    position: relative;
    display: inline-block;
    width: 166px;
    height: 61px;
    font-size: 12px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
  }

  .btn svg {
    position: absolute;
    top: 0; 
    left: 0;
  }

  .btn svg rect {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 422, 0;  
    @include transition(all 1300ms $ease-out-expo);
  }

  .btn:hover svg rect {
    stroke-width: 2;
    stroke-dasharray: 10, 310;
    stroke-dashoffset: 33;
  }

  .btn:hover {
    color:#000;
    font-size:15px;
    letter-spacing:1px;
    font-weight:bold;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .hero .title {
    font-size: 50px;
  }

  .main-body .d-flex {
    display: block !important;
  }

  .main-body .tag {
    font-size: 30px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin: 0 auto;
    bottom-padding: 50px;
  }

  .main-body .container {
    padding: 50px 0;
  }

  .img-gallery {
    width: 100%;
  }

  .img-gallery .img {
    background-size: cover;
    position: relative;  
  }

  .img-gallery .text {
    color: #fff;
    font-size: 30px;
    top: 40%;
    left: 35%;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .img-gallery .img:hover {
    opacity: 0.8;
    background: #000;
  }

  .img-gallery .img:hover .text{
    opacity: 1;
  }

  .block-1, .block-2, .block-3 {
    height: 200px;
    width: 100%;
  }

  .block-1 {
    background-image: url(../images/block-4.jpg);
  }

  .block-2 {
    background-image: url(../images/block-5.jpg);
  }

  .block-3 {
    background-image: url(../images/block-6.jpg);
  }

  .about-header {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
  }

  .contact-content {
    margin: 0;
  }

  .contact-btn {
    display: none;
  }

  .contact-btn-2 {
    display: flex ! important;
    justify-content: center;
    padding-right: 35px;
  }


}


